<!-- <h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/movies">Movies</a>
</nav>
<router-outlet></router-outlet> -->

<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark rgba-blue-strong scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#">
      <i class="fa fa-child"></i>
      <strong> {{title}}</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/movies">所有电影</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/dashboard">顶级电影</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/movie-add">添加电影</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/movie-search"> 搜索电影</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink=""> 课程结业报告</a>
      </li>
      
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
         <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>